<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 5.针对所有实体类对象的映射配置文件 映射
 namespace呼应的是mapper接口的路径
-->
<mapper namespace="com.spring.mapper.IUserMapper">
    <!--namespace="com.java.entity":针对该包下的所以实体类对象映射配置文件   -->
    <resultMap id="UserResult" type="com.spring.entity.User">
      <id column="id" property="id" jdbcType="INTEGER" javaType="Integer" />  
     <result column="name" property="name" jdbcType="VARCHAR" javaType="string"/>  
     <result column="pwd" property="pwd" jdbcType="VARCHAR" javaType="string"/>
     <association property="account" javaType="com.spring.entity.Account"
      resultMap="AccountResult">
     </association>
    </resultMap>
    
    <resultMap type="com.spring.entity.Account" id="AccountResult">
    	<id column="aid" property="id" jdbcType="INTEGER" javaType="Integer" />
    	<result column="atype" property="type" jdbcType="VARCHAR" javaType="string"/>
    </resultMap>
   
    <select id="GetAllUser" resultMap="UserResult">
       SELECT u.*,a.* FROM USER u,account a WHERE u.u_aid=a.aid
    </select>
   	
   	<select id="GetAllAccount" resultMap="AccountResult">
   		SELECT * FROM account
   	</select>
   	
   	<insert id="insertUser" parameterType="com.spring.entity.User">
   		insert into user values(null,#{name},#{pwd},#{u_aid})
   	</insert>
</mapper>